* {
  margin: 0;
  padding: 0;
}
body {
   background-image: url(bkg2.jpg);
  color: aliceblue;
  font-family: "Poppins", sans-serif;
  background-size: cover;
  height: 50%;
  background-repeat: no-repeat;
  background-color: rgb(0, 0, 0);
  
}
.s{
  color: #ff771d;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}
.left
{  margin-left: 45px;
  font-size: 20px;
}
.right {
  align-self: flex-end;

}
.right ul {
  display: flex;
  flex-direction: row;
  
}
li {
  margin: 20px;
}
.right ul li a {
  color: rgb(248, 248, 248);
  text-decoration: none;
  font-size: medium;
}
.right ul li a:hover {
  
  text-decoration: underline;
  text-decoration-color: #ff771d;
  font-size: medium;
}

#vid{
  color: rgb(197, 84, 3);
  font-weight: 600;
}

.quote{

  margin-top: 9%;
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  
  
}
.author{
  margin-left: 70%;
  font-style: oblique;
  font-size: 12px;
}



.trd{
display: flex;
justify-content: space-between;
width: 80%;
margin: 0 auto;
position: relative;
}

.img{
margin-top: 7%;
border: black;
border-radius: 7px;
opacity: 1;
display: block;
width: 302px;
height: 302px;;
transition: .5s ease;
}
.content1{
position: absolute;
top:55%;
left: 12%;
height: auto;
background-color: #ff771d;
padding: 10px;
transform: translate(-50%,-50%);
-ms-transform: translate(-50%,-50%);
text-transform: uppercase;
font-size: 20px;
color: #fff;
white-space: nowrap;
overflow: hidden;
}
.content2{
position: absolute;
top: 55%;
left: 49%;
background-color: #ff771d;
padding: 10px;
transform: translate(-50%,-50%);
-ms-transform: translate(-50%,-50%);
text-transform: uppercase;
font-size: 20px;
color: #fff

}
.content3{
position: absolute;
top: 55%;
left: 88%;
background-color: #ff771d;
padding: 10px;
transform: translate(-50%,-50%);
-ms-transform: translate(-50%,-50%);
text-transform: uppercase;
font-size: 20px;
color: #fff
}


.overlay{
opacity: 0;
}
.img:hover img{
opacity: .5;
}
.img:hover .overlay{
opacity:1;
}

